<%= @article.title %> 
<%= @article.content %>
<form action='/articles/<%= @article.id %>' method='post'>
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="delete" id="Submit">
</form>